////FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR


//// Couleur de base
$white: #fff;
$black: #000;

$green: #40e0d0;
$blue: #00b7e0;
$yellow: #ffed03;

$dark-grey: #333333;
$grey: #c0c0c0;
$light-grey: #efefef;


////Couleur projet spécifique
$color-background-primary: $white;
$color-background-secondary: $light-grey;
$color-link: $blue;
$color-hover: $green;