@use "../tools/fonctions";

//////FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE
//
//
///// Texte
$font-size-text: fonctions.rem(16);
$font-line-height: fonctions.rem(24);
//
///// Font family
//
$text: Open sans, Arial, Helvetica, sans-serif;
$title: "Source Sans Pro", Arial, Helvetica, sans-serif;
//
///// Fonts weight
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;
//
////DONE