article, .banner {
  margin-bottom: 100px;
}

article:last-of-type {
  background-color: $light-grey;

  padding: 100px 0;
  margin-bottom: 0;
}

.specialBackground {
  background: #00b7e0; /* Old browsers */
  background: -moz-linear-gradient(45deg, #00b7e0 23%, #40e0d0 96%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #00b7e0 23%, #40e0d0 96%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #00b7e0 23%, #40e0d0 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7e0', endColorstr='#40e0d0', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

div[class="specialBackground"] {
  padding: 100px 0;

  color: $white;
}

div[class="specialBackground"] h1, div[class="specialBackground"] h2, div[class="specialBackground"] h3, div[class="specialBackground"] h4, div[class="specialBackground"] h5, div[class="specialBackground"] h6 {
  color: $white;
}

div[class="specialBackground"] h3:after {
  width: 170px;
  height: 3px;
  background-color: $yellow;
  content: "";
  display: block;
  margin: 32px 0;
}

@media screen and (max-width: $vw-middle) {

  article, .banner {
    margin-bottom: 40px;
  }

  div[class="specialBackground"] {
    padding: 40px 0;
  }

  article:last-of-type {
    padding: 40px 0;
  }

}