@use "../settings/colors";
@use "../settings/dimensions";
@use "../settings/fonts";
@use "../tools/fonctions";

.banner {
  color: colors.$white;

  height: calc(100vh - 90px);
  position:relative;
}

.banner:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;

  position: absolute;
  top: 0;
  left:0;

  background: url('img/banner.jpg');
  background-size: cover;
  opacity: .3;
  z-index: 1;
}

.banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6 {
  color: colors.$white;
}

.banner h1, .banner h5 {
  margin-bottom: 16px;
}

.banner .banner-description {
 margin-bottom: 56px;

  p {
    max-width: 800px;
  }

}


.banner a {
  margin-bottom: 5%;
}

.banner .banner-content {
  height: calc(100vh - 90px);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index:2;
}

.banner .banner-chrono {
  display: flex;

  text-align: center;
}

.banner .banner-chrono > div {
  margin-right: 48px;
}

.banner .banner-chrono > div > div:first-child {
  font-size: fonctions.rem(96);
  font-family: fonts.$title;
  font-weight: colors.$black;
  color: colors.$yellow;
}

.banner .banner-chrono > div > div:last-child {
  font-size: fonctions.rem(20);
}


.titre-social div:last-of-type {
  display: none;
}

//.fiche-invites-liste-content div {
//  width: 21.7391%;
//  max-width: 150px;
//}

@media screen and (max-width: dimensions.$vw-middle) {

  .banner {
    text-align: center;
  }

  .banner .banner-chrono {
    display: none;
  }

  .banner .banner-chrono > div {
    margin: 24px;
  }

}

@media screen and (max-width: dimensions.$vw-middle-small) {

.banner .banner-content {
  // display: block;
  width: 100%;
}



.banner-description  {

  p { display: none; }
}

  .banner .btn {
    background: #ffffff, transparent;
  }

}


@media screen and (max-width: dimensions.$vw-small) {


}