@use "../settings/colors";
@use "../settings/fonts";
@use "../tools/fonctions";

body {
  font-weight: fonts.$fw-regular;
  font-family: fonts.$text;
  font-size: fonctions.rem(16);
  color: colors.$dark-grey;

  background: colors.$white;

  position: relative;
}

p {
  line-height: 1.5rem;
}