@use "../settings/dimensions";

.commanditaires {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.commanditaires img {
  max-width: 200px;
}


@media screen and (max-width: dimensions.$vw-middle-small) {

  .commanditaires {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);

    img {
      margin-bottom: 25px;
    }

  }

}