@use "../settings/dimensions";

.commanditaires {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.commanditaires img {
  max-width: 200px;
}


@media screen and (max-width: dimensions.$vw-middle-small) {

  .commanditaires {
    justify-content: center;

    img {
      margin-bottom: 25px;
    }

  }

}