@use "../settings/colors";
@use "../settings/dimensions";
@use "../settings/fonts";
@use "../settings/global";
@use "../tools/fonctions";

.fiche .fiche-content {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 36px;
}

.fiche .fiche-content .fiche-texte {
  max-width: 750px;
}

.fiche .fiche-content .fiche-texte .fiche-titre {
  text-transform: uppercase;
  font-weight: fonts.$fw-bold;
  font-size: fonctions.rem(24);

  margin-bottom: 8px;

}

.fiche .fiche-content .fiche-texte p {
  margin-bottom: 32px;
}

.fiche .fiche-content .fiche-texte .fiche-event div {
  
  margin: 10px 0;
}

.fiche .fiche-content .fiche-texte .fiche-event div:first-child {
  font-weight: fonts.$fw-bold;
}

.fiche-invites-liste-content {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(8, 1fr);
}

.fiche-invites-liste-content div {
  //width: 140px;
  //height: 140px;

  margin: 20px 0;
}

.titre-social {
  display: flex;
  justify-content: space-between;
}

.titre-social a, .img-social a {
  font-size: fonctions.rem(36);
  color: colors.$green;


}

.titre-social a:hover, .img-social a:hover {
  opacity: 0.4;

  transition: global.$global-transition;
}

.img-social {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-top: 24px;
}

.img-social a {
  display: none;
}

@media screen and (max-width: dimensions.$vw-middle-large) {
  .fiche-invites-liste-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: dimensions.$vw-middle) {
  .titre-social div:last-of-type {
    display: none;
  }

  .img-social a {
    display: block;
  }

  .fiche .fiche-content {
    align-items: flex-start;
  }
}

@media screen and (max-width: dimensions.$vw-middle-small) {

  .fiche .fiche-content {
    grid-template-columns: 1fr;
  }

  .fiche .fiche-content .fiche-img {
    width: 75%;
    margin: 0 auto
  }

  .fiche-invites-liste-content {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: dimensions.$vw-small) {



}