@use "../settings/colors";
@use "../settings/dimensions";
@use "../settings/fonts";
@use "../settings/global";
@use "../tools/fonctions";

.fiche .fiche-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fiche .fiche-content .fiche-img {
  max-width: 415px;
  max-height: 415px;
}

.fiche .fiche-content .fiche-texte {
  max-width: 750px;
}

.fiche .fiche-content .fiche-texte {
  margin-left: 50px;
}

.fiche .fiche-content .fiche-texte .fiche-titre {
  text-transform: uppercase;
  font-weight: fonts.$fw-bold;
  font-size: fonctions.rem(24);

  margin-bottom: 8px;

}

.fiche .fiche-content .fiche-texte p {
  margin-bottom: 32px;
}

.fiche .fiche-content .fiche-texte .fiche-event div {
  
  margin: 10px 0;
}

.fiche .fiche-content .fiche-texte .fiche-event div:first-child {
  font-weight: fonts.$fw-bold;
}

.fiche-invites-liste-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fiche-invites-liste-content div {
  width: 140px;
  height: 140px;

  margin: 20px 0;
}

.titre-social {
  display: flex;
  justify-content: space-between;
}

.titre-social a, .img-social a {
  font-size: fonctions.rem(36);
  color: colors.$green;

  margin-left: 18px;
}

.titre-social a:hover, .img-social a:hover {
  opacity: 0.4;

  transition: global.$global-transition;
}

.img-social {
  display: flex;
  justify-content: center;

  margin-top: 36px;
}

.img-social a {
  display: none;
}



@media screen and (max-width: dimensions.$vw-middle) {
  .titre-social div:last-of-type {
    display: none;
  }

  .img-social a {
    display: block;
  }

  .fiche .fiche-content {
    align-items: flex-start;
  }

  .fiche .fiche-content .fiche-img {
    max-width: 328px;
    margin-bottom: 75px;
  }

  .img-social a {
    margin: 0 9px;
  }

  .fiche-invites-liste-content div {
    max-width: 150px;
  }

}

@media screen and (max-width: dimensions.$vw-middle-small) {

  .fiche .fiche-content {
    flex-wrap: wrap;
  }

  .fiche .fiche-content .fiche-img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 0px;
  }

  .fiche .fiche-content .fiche-texte {
    margin-top: 32px;
    margin-left: 0;
    width: 100%;
  }

  .fiche-invites-liste-content div {
    width: 44.8275%;
  }

}

@media screen and (max-width: dimensions.$vw-small) {



}