@use "../settings/colors";
@use "../settings/fonts";

form input {
  color: colors.$dark-grey;
  font-family: fonts.$text;

  border: 0;
  border-radius: 100px;

  padding: 16px;
}

form input::placeholder {
  color: colors.$dark-grey;
  opacity: 0.4;
  font-style: italic;
}

form input:focus {
  outline: 0;
}

form div {
  position: relative;
}

form button {
  position: absolute;
  right: 0;

}