h1 {
  //
  font-size: rem(72);
}

h2 {
  //
  font-size: rem(60);
}

h3 {
  font-size: rem(48);
}

h3:after {
  width: 170px;
  height: 3px;
  background-color: $green;
  content: "";
  display: block;
  margin: 32px 0;
}

h4 {
  font-size: rem(30);
}
h5 {
  //
  font-size: rem(24);
}
h6 {
  font-size: rem(20);
}


h1, h2, h3 {
  line-height: 1;
  font-family: $title;
  font-weight: $fw-black;
  color: $dark-grey;
  text-transform: uppercase;

  margin-top: 0;
}

h4, h5, h6 {
  line-height: 1;
  font-family: $text;
  font-weight: $fw-bold;
  color: $dark-grey;

  margin-top: 0;
}


@media screen and (max-width: $vw-middle) {

  h1 {
    //
    font-size: rem(48);
  }

  h2 {
    //
    font-size: rem(42);
  }

  h3 {
    font-size: rem(36);
  }

  h3:after {
    width: 170px;
    height: 3px;
    background-color: $green;
    content: "";
    display: block;
    margin: 24px 0;
  }


  h4 {
    font-size: rem(24);
  }
  h5 {
    //
    font-size: rem(24);
  }
  h6 {
    font-size: rem(24);
  }

}

@media screen and (max-width: $vw-small) {

  h1 {
    //
    font-size: rem(24);
  }

  h2 {
    //
    font-size: rem(27);
  }

  h3 {
    font-size: rem(30);
  }

  h4 {
    font-size: rem(24);
  }
  h5 {
    //
    font-size: rem(16);
  }
  h6 {
    font-size: rem(20);
  }

}