@use "../settings/colors";
@use "../settings/dimensions";
@use "../settings/fonts";
@use "../settings/global";
@use "../tools/fonctions";


header {
  height: 90px;
  padding: 20px 0;

  background-color: colors.$white;
}

.nav-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 9999;
  color: colors.$white;

  padding: 20px 0;

  background: #00b7e0; /* Old browsers */
  background: -moz-linear-gradient(45deg, #00b7e0 23%, #40e0d0 96%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #00b7e0 23%, #40e0d0 96%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #00b7e0 23%, #40e0d0 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7e0', endColorstr='#40e0d0', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  height: 100vh;
}

header > div > nav > div > a > .logo, .nav-mobile .logo {
  min-width: 90px;
  height: 45px;
  display: block;
}

header > div > nav, .nav-mobile > div > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div > nav > div:first-child, .nav-mobile > div > nav > div:first-child {
  display: flex;
}

header .menu ul, .nav-mobile > div > nav > div > ul {
  display: flex;
}

header .menu ul > li, .nav-mobile > div > nav > div > ul > li {
  list-style: none;
  margin-right: 50px;
}

header .menu a {
  color: colors.$dark-grey;
  font-family: fonts.$title;
  text-transform: uppercase;
}
header .menu a:hover {
  color: colors.$green;
}


.nav-mobile .menu a:hover {
  color: colors.$dark-grey;
  font-family: fonts.$title;
  text-transform: uppercase;
}


.show-menu, .show-menu-2 {
  display: none;
  cursor: pointer;

  transition: global.$global-transition;
}

.show-menu:hover {
  color: colors.$green;

  transition: global.$global-transition;
}

.toggle-menu {
  display: none;
}

input[id="show-menu"]:checked ~ ul {

}

// NAVIGATION MOBILE


.nav-mobile .show-menu:hover {
  color: colors.$yellow;

  transition: global.$global-transition;
}

.nav-mobile .menu-mobile ul {
  display: flex;
  flex-direction: column;
  gap: 48px;

  list-style: none;

  text-align: center;

  font-size: fonctions.rem(36);
  color: colors.$white;
  font-family: fonts.$title;
  text-transform: uppercase;

  padding: 0;


}

.nav-mobile .menu-mobile a {
  color: colors.$white;

  transition: global.$global-transition;
}

.nav-mobile .menu-mobile a:hover {
  color: colors.$yellow;

  transition: global.$global-transition;
}

@media screen and (max-width: dimensions.$vw-middle-large) {

  .btn-billet {
    display: none;
  }

}

@media screen and (max-width: dimensions.$vw-middle) {

  header .menu ul {
    display: none;
  }

  header > div > nav > div:last-of-type, .nav-mobile > div > nav > div:last-of-type {
    display: flex;

    align-items: center;
  }

  .show-menu {
    display: block;
    font-size: fonctions.rem(24);

    margin-left: 64px;
  }

}

@media screen and (max-width: dimensions.$vw-middle-small) {

.btn-billet {
  display: none;
}

}

@media screen and (max-width: dimensions.$vw-small) {



}