@use "../settings/global";

img {
  max-width: 100%;
}

img[class="img-invite"], img[class="img-invite-hover"] {
  border-radius: 100%;

  transition: global.$global-transition;

  -webkit-box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
}

img[class="img-invite-hover"]:hover {
  transform: scale(0.95);

  opacity: 0.4;

  transition: global.$global-transition;
}

.img-invite-hover img:hover {
  transform: scale(0.95);

  opacity: 0.4;

  transition: global.$global-transition;
}

.img-invite img, .img-invite-hover img {
  border-radius: 100%;

  transition: global.$global-transition;

  -webkit-box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
}
