@use "../settings/dimensions";
@use "../settings/fonts";
@use "../tools/fonctions";


.pourquoi-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pourquoi-content > div:first-child {

  width: 34.5833%;
}

.pourquoi-content > div:last-child {

  width: 57.0833%;


  overflow: hidden;
}

.pourquoi-content img {
  border-radius: 16px;
}

.pourquoi h4 {
  margin-top: 36px;
  margin-bottom: 16px;
}

// EN BREF

.enbref {
  position:relative;
}

.enbref:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;

  position: absolute;
  top: 0;
  left:0;

  background: url('img/work.jpg');
  background-size: cover;
  opacity: .3;
  z-index: 1;
}

.enbref > div > div {
  position: relative;
  z-index: 2;
}

.bref-icons {
  display: flex;
  justify-content: space-between;

  text-align: center;

  position:relative;
}



.bref-icons > div {
  width: 26.6667%;
}

.bref-icons img {
  margin-bottom: 40px;
}

.bref-icons h5 {
  margin-bottom: 20px;
}

// APPRENDRE

.apprendre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apprendre > div:first-child {
  width: 34.5833%;
}

.apprendre > div:last-child {
  width: 57.0833%;
}

.apprendre .invites-sample {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apprendre .invites-sample > a {
  width: 0;
}

.apprendre .invites-sample-content {
  display: flex;
  justify-content: space-between;

  margin-bottom: 32px;
}

.apprendre .invites-sample-content > div {
  width: 30.6569%;


  text-align: center;
}

.invites-sample-content-titles > div:first-child {
  margin-top: 24px;

  font-weight: fonts.$fw-bold;
  font-size: fonctions.rem(20);
  margin-bottom: 4px;
}

// Lieu

.lieu {
  position:relative;
}

.lieu:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;

  position: absolute;
  top: 0;
  left:0;

  background: url('img/montreal.jpg');
  background-size: cover;
  opacity: .3;
  z-index: 1;
}

.lieu > div > div {
  position: relative;
  z-index: 2;
}

.lieu .lieu-content > div {
    display: flex;
    justify-content: space-between;
}

.lieu .lieu-content > div > div:first-child {
  width: 34.5833%;

}

.lieu .lieu-content > div > div:first-child h5 {
  margin-bottom: 5px;
}

.lieu .lieu-content > div > div > p:first-child {
  margin-top: 0;
}

.lieu .lieu-content > div > div:last-child {
  width: 57.0833%;


  position: relative;
}

.lieu .lieu-content > div > div:last-child > img {
  border-radius: 16px;

  -webkit-box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
}

.lieu .lieu-content > div > div:last-child > img:first-child {
  //width: 47.5%;
  max-width: 570px;
  max-height: 290px;

  position: relative;
}

.lieu .lieu-content > div > div:last-child > img:last-child {
  //width: 36.6667%;
  max-width: 440px;
  max-height: 225px;

  position: absolute;
  right: 0;
  top: -60px;

  z-index: 3;
}

@media screen and (max-width: dimensions.$vw-middle) {

  // POURQUOI

  .pourquoi-content {
    flex-direction: column;

    text-align: center;
  }

  .pourquoi-content > div:first-child {
    width: 100%;

    margin-bottom: 40px;
  }

  .pourquoi-content > div:last-child {
    width: 100%;
  }

  // APPRENDRE

  .apprendre {
    display: flex;
    flex-direction: column;
  }

  .apprendre > div:first-child {
    width: 100%;
  }

  .apprendre > div:last-child {
    width: 100%
  }

  .apprendre .invites-sample {
    margin-top: 40px;
  }

  // LIEU

  .lieu .lieu-content > div {
    flex-direction: column;

    text-align: center;
  }

  .lieu .lieu-content > div > div:first-child {
    width: 100%;

  }

  .lieu .lieu-content > div > div:last-child {
    width: 100%;

    position: static;
  }

  .lieu .lieu-content > div > div:last-child > img {
    border-radius: 16px;

    -webkit-box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 8px 24px -2px rgba(0, 0, 0, 0.25);
  }

  .lieu .lieu-content > div > div:last-child > img:first-child {
    max-width: 100%;

    margin-bottom: 20px;

    position: static;
  }

  .lieu .lieu-content > div > div:last-child > img:last-child {
    max-width: 100%;



    position: static;

    z-index: 3;
  }

}


@media screen and (max-width: dimensions.$vw-middle-small) {

  .bref-icons {
    flex-direction: column;
    align-items: center;
  }

  .bref-icons > div {
    width: 100%;
    padding-bottom: 40px;
  }

  .apprendre .invites-sample-content {
    flex-direction: column;
  }

  .apprendre .invites-sample-content > div {
    width: 100%;

    text-align: center;

    margin-bottom: 40px;
  }


}