@use "../settings/dimensions";

.invites .invites-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.invites .invites-liste > div {
  width: 22.5%;
  max-width: 270px;
  height: 335px;

  margin-bottom: 32px;

  position: relative;
}

.invites .invites-liste .invites-liste-img {
  margin-bottom: 16px;
}

.invites .invites-liste .invites-liste-texte {

  text-align: center;

}

.invites .invites-liste .invites-liste-texte  h6 {
  margin-bottom: 8px;
}

.invites .invites-liste .invites-liste-texte  p {
  margin: 0;
}


@media screen and (max-width: dimensions.$vw-middle) {

  .invites .invites-liste > div {
    width: 46.6666%;
    max-width: 335px;

    margin-bottom: 118px;
  }

}

@media screen and (max-width: dimensions.$vw-middle-small) {

    .invites .invites-liste > div {
      width: 100%;
      max-width: 100%;

      margin-bottom: 224px;
      height: auto;
    }

}

@media screen and (max-width: dimensions.$vw-small) {

  .invites .invites-liste > div {
    margin-bottom: 48px;
  }

}