@use "../settings/dimensions";

.invites .invites-liste {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px 32px;
}

.invites .invites-liste > div {
  position: relative;
}

.invites .invites-liste .invites-liste-img {
  margin-bottom: 16px;
}

.invites .invites-liste .invites-liste-texte {

  text-align: center;

}

.invites .invites-liste .invites-liste-texte  h6 {
  margin-bottom: 8px;
}

.invites .invites-liste .invites-liste-texte  p {
  margin: 0;
}


@media screen and (max-width: dimensions.$vw-middle) {

  .invites .invites-liste {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: dimensions.$vw-middle-small) {

  .invites .invites-liste {
    grid-template-columns: repeat(1, 1fr);
  }

  .invites .invites-liste > div {
    width: 75%;
    margin: auto;
  }

}

@media screen and (max-width: dimensions.$vw-small) {

  .invites .invites-liste > div {
    margin-bottom: 48px;
  }

}