@use "../settings/colors";
@use "../settings/fonts";
@use "../settings/global";


//LIENS RÉGULIERS

a {
  text-decoration: none;

  color: colors.$blue;

  transition: global.$global-transition;
}

a:hover {
  color: colors.$green;

  transition: global.$global-transition;
}

//BOUTONS

.btn {
  font-family: fonts.$title;
  font-weight: fonts.$fw-black;
  text-transform: uppercase;
  border: solid 1px;

  border-radius: 100px;

  padding: 12px 44px;

  cursor: pointer;

  min-width: 200px;

  text-align: center;

  display: inline-block;
}

.btn-green {
  color: colors.$dark-grey;
  border-color: colors.$green;
  background-color: colors.$green;

  transition: global.$global-transition;
}

.btn-green:hover {
  background-color: colors.$white;
  border-color: colors.$white;
  color: colors.$green;

  transition: global.$global-transition;
}

.btn-green-border {
  color: colors.$dark-grey;
  border-color: colors.$green;
  background-color: colors.$white;

  transition: global.$global-transition;
}

.btn-green-border:hover {
  color: colors.$dark-grey;
  background-color: colors.$green;

  transition: global.$global-transition;
}

.btn-white-border {
  color: colors.$white;
  border-color: colors.$white;

  transition: global.$global-transition;
}

.btn-white-border:hover {
  color: colors.$yellow;
  border-color: colors.$yellow;

  transition: global.$global-transition;
}
