
//LIENS RÉGULIERS

a {
  text-decoration: none;

  color: $blue;

  transition: $global-transition;
}

a:hover {
  color: $green;

  transition: $global-transition;
}

//BOUTONS

.btn {
  font-family: $title;
  font-weight: $fw-black;
  text-transform: uppercase;
  border: solid 1px;

  border-radius: 100px;

  padding: 12px 44px;

  cursor: pointer;

  min-width: 200px;

  text-align: center;

  display: inline-block;
}

.btn-green {
  color: $dark-grey;
  border-color: $green;
  background-color: $green;

  transition: $global-transition;
}

.btn-green:hover {
  background-color: $white;
  border-color: $white;
  color: $green;

  transition: $global-transition;
}

.btn-green-border {
  color: $dark-grey;
  border-color: $green;
  background-color: $white;

  transition: $global-transition;
}

.btn-green-border:hover {
  color: $dark-grey;
  background-color: $green;

  transition: $global-transition;
}

.btn-white-border {
  color: $white;
  border-color: $white;

  transition: $global-transition;
}

.btn-white-border:hover {
  color: $yellow;
  border-color: $yellow;

  transition: $global-transition;
}
