.wrapper {
  margin: auto;
  padding: 0 $page-padding-side;
  width: $max-width;
  max-width: 100%;

  //section:last-of-type {
  //  padding-bottom: 100px;
  //}

}

@media screen and (max-width: $vw-middle-small) {

  padding: 0 $tablette-padding-side;

}
