@use "../settings/dimensions";

.wrapper {
  margin: auto;
  padding: 0 dimensions.$page-padding-side;
  width: dimensions.$max-width;
  max-width: 100%;

  //section:last-of-type {
  //  padding-bottom: 100px;
  //}

}

@media screen and (max-width: dimensions.$vw-middle-small) {

  .wrapper {
    padding: 0 dimensions.$tablette-padding-side;
  }

}
